@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

*{
	box-sizing: border-box; /*Given a set width, any borders or fillers added will be included within that set width, and the content will shrink to absorb that extra width.*/
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

header{
	position: fixed; /*The header will always be present at the top of the browser.*/
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background-color: #FFFFF5;
	box-shadow: 0px 4px 25px -22px #000000; 
	/*It establishes a shadow without horizontal displacement, 
	4px downward displacement, 
	the size of the blur is 25px, 
	and the shadow is reduced by 22px.*/
	z-index: 2; /*The header, with its shadow included, is above all.*/
}

.header_content{
	max-width: 1100px;
	margin: auto; /*We make sure that the content inside the header has the same margin on the left as on the right.*/
	display: flex;
	justify-content: space-between; /*It will make the logo on the left side and the menu on the right side.*/
}

#header_logo{
	height: 100px;
	display: flex; /*The 2 propertiesestablished below are based on a flex display.*/
	justify-content: center; /*The elements inside #header_logo will position towards the center horizontally*/
	align-items: center; /*Vertically aligned.*/
}

#header_logo a{
	font-family: Across the Road;
	font-size: 80px;
	color: #000000;
}

#header_menu{
	height: 100px;
}

#header_menu nav{
	height: 100%;
}

#header_menu nav ul{
	height: 100%;
	display: flex; /*It makes the list horizontal.*/
	list-style: none; /*Remove the stitches from each li.*/
}

#header_menu nav ul li{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#header_menu nav ul li a{
	color: #000000;
	transition: 0.5s; /*It will take 0.5 seconds to go into hover mode.*/
}

#header_menu nav ul li a:hover{
	opacity: 0.6; /*It will make the text 40% more opaque to highlight the selected li.*/
}

.header_list_first_element{
	margin-right: 20px;
}

.header_list_element{
	margin: 0 20px;
}

.header_list_last_element{
	margin-left: 20px;
}

.icon{
	margin-right: 5px;
}

.main_content{
	top: 100px; /*The 100px height of the header must be respected.*/
	left: 0;
	position: relative;
}

.cover_image{
	width: 100%;
	height: 400px;
	position: relative;
	overflow: hidden; /*After the tranforming the scale, the background image will not go out of bounds.*/
	/*We dodn't add the background-image here because the ::before will be a 15% opaque, thus .cover_image won't have ant background-image at all.*/	
	background-position: center;
	background-size: cover; /*Prevents the image from repeating itself if the screen is larger than the image.*/
	background-repeat: none; /*We make sure the image doesn't get repeated.*/
}

.cover_image::before{ /*We created a ::before element (child element) to be able to put the background with position:absolute without losing the hover's transform:scale(1.2).*/
	content:"";
	width: 100%;
	height: 100%;
	position:absolute; /*It will not be within the normal flow of the page, so it will take the parent's window as a reference.*/
	top:0;
	right:0;
	background:inherit; /*Collects all the parent's own properties with reference to the background*/
	background-image: url(../Assets/playa-de-las-canteras-las-palmas-de-gran-canaria-beach-sand.jpg);
	opacity: 0.85;
	transition: 1s;
}

.cover_image:hover::before{
	transform: scale(1.2);
}

.cover_image_info{
	max-width: 1100px;
	height: 400px;
	margin: auto;
	position: relative;
	display: flex;
	text-align: center; /*Centred text: it has the same size from the middle of the sceen to the left side as it does to the right side.*/
	justify-content: center; /*The elements inside #header_logo will position towards the center vertically (Vertically because of flex-direction: column)*/
	flex-direction: column; /*Display:flex puts h1 and p in horizontal alignment, this makes them both stand vertically.*/
	color: white;
	cursor: default; /*The text cursor will not appear, just the standard one instead.*/
}

.cover_image_info h1{
	font-family: 'Shrikhand', cursive;
	font-size: 50px;
	font-weight: normal; /*Equivalent to 700.*/
	text-shadow: 0px 5px 5px black; /*Letters shading.*/
	-webkit-text-stroke: 0.7px black; /*Letters border.*/
	margin-bottom: 20px;
}

.cover_image_info p{
	font-family: 'Shrikhand', cursive;
	font-size: 35px;
	font-weight: normal;
	text-shadow: 0px 5px 5px black;
	-webkit-text-stroke: 0.7px black; /*Letters border.*/	
}

.about_me{
	position: relative;
	max-width: 1100px;
	margin: auto;
}

.about_me h1{
	font-size: 30px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto Slab', serif;
	margin-top: 50px;
	margin-bottom: 20px;
}

.about_me h2{
	font-size: 18px;
	font-weight: 400; /*Regular*/
}

.about_me p{
	margin-bottom: 1rem;
}

.my_cv_btn{
	display: flex;
	justify-content: center; /*Makes the text inside the button be horizontally in the middle of the button.*/
	align-items: center;
	margin: auto;
	width: 300px;
	background-color: transparent;
	border: 2px solid black;
}

.lorem_prueba{
	position: relative;
}